* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://plus.unsplash.com/premium_photo-1762890433206-439d3958abed?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 100vh;
}

#playing-cards {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
   display: flex;
   justify-content: space-between;
   border: 1px solid gray;
   background-color: white;
   min-width: 250px;
   max-width: 250px;
   height: 350px;
   font-size: 35px;
   padding: 5px;
   box-sizing: border-box;
   box-shadow: 2px 2px 2px silver;
   border-radius: 10px;
   text-align: center;
}

.left {
    align-self: flex-start;
}

.middle {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 90px;
}

.right {
    align-self: flex-end;
}

.flipped {
    transform: rotate(180deg);
}

#red {
    color: red;
}