* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    text-align: center;
} 

h2 {
    margin-bottom: 8px;
}

.images-shapes {
    position: relative;
    width: 100%;
}



img {
    height: 300px;
    float: left;
    width: 33.33%;
    padding: 6px;
    object-fit: cover;
    transition: 0.4s ease;
    
}

.image1 {
    border-radius: 50%;
}
.image2 {
 clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 0%);
}
.image3 {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.image4 {
    clip-path: polygon(20% 0, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.image5 {
    clip-path: polygon(20% 0, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%);
}
.image6 {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.image7 {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 41% 55%, 0% 0%);
}
.image8 {
    clip-path: polygon(0% 15%, 49% 25%, 15% 0%, 85% 0%, 50% 26%, 100% 15%, 100% 85%, 50% 71%, 85% 100%, 15% 100%, 46% 70%, 0% 85%);
}
.image9 {
    clip-path: polygon(46% 77%, 100% 0%, 100% 99%, 0 97%, 1% 0);
}
.image10 {
    clip-path: polygon(0 0, 100% 0, 75% 99%);
}
.image11 {
    clip-path: polygon(0 0, 100% 0, 75% 99%, 58% 54%, 31% 100%, 36% 59%, 0 99%);
}
.image12 {
    clip-path: polygon(31% 0, 39% 49%, 100% 6%, 100% 98%, 39% 50%, 33% 100%, 0 48%);
}
/* img:hover {
    clip-path: none;
    border-radius: 0;
    transition: 0.4s ease;
} */

img:hover {
    clip-path: none;
    border-radius: 0;
    transform: scale(1.1);
}