* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    text-align: center;
} 

img {
    width: 300px;
    height: 300px;
    float: left;
    width: 25%;
    padding: 5px;
}