* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: whitesmoke;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 15px;
}

.image-manipulations {
    display: grid;
    grid-template-columns: auto auto auto;
}

img {
    width: 380px;
    height: 250px;
    padding: 5px;
    
}

.image1 {
    filter: blur(2px);
}
.image2 {
    filter: contrast(160%);
}
.image3 {
    filter: drop-shadow(10px 10px 8px red);
}
.image4 {
    filter: grayscale(80%);
}
.image5 {
    filter: hue-rotate(90deg);
}
.image6 {
    filter: sepia(100%);
}

.image1:hover,
.image2:hover,
.image3:hover,
.image4:hover,
.image5:hover,
.image6:hover
{
    filter: none;
    transition: transform 0.3s ease;
   
}

.image1:hover img,
.image2:hover img,
.image3:hover img,
.image4:hover img,
.image5:hover img,
.image6:hover img
{
    transform: scale(1.05);
   
}