* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh; 
    display: flex;
    justify-content: center;   
}

#email {
    padding: 50px;
    border: 2px solid gray;
    margin-top: 50px;
    width: 500px;
    background-color: rgba(159, 190, 217, 0.5);
    position: relative;
    box-sizing: border-box;
    
}

#confidential {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 20px 10px;
    border: 4px solid red;
    font-weight: bold;
    background-color: whitesmoke;
    color: black;
    margin-left: 10px;
    transform: rotate(35deg);
    font-size: 2em;
}
#top-secret {
    display: inline-block;
    padding: 16px 8px;
    border: 4px solid red;
    font-size: 1.5em;
    background-color: transparent;
    margin-left: 10px;
    position: absolute;
    bottom: 10px;
    transform: rotate(30deg);
    font-weight: bold;
}

p {
    padding: 10px;
    line-height: 1.5;
}

.blurred {
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    filter: blur(3px);
}