* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(241, 236, 236);
}

.hero {
    text-align: center;
    font-size: 3em;
    background-image: linear-gradient(to right, purple, yellow, orange);
    
}

ul {
    list-style-type: none;
    width: 300px;
    height: 400px;
    background-color: #121111;
    
}

li a {
    text-decoration: none;
    padding: 8px 16px;
    color: white;
    display: block;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
    background-color: #d37676;
    color: white;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100hv;
}

.sidebar ul {
    padding-top: 30px;
}

img {
    width: 70px;
}